@tailwind base;
@tailwind components;
@tailwind utilities;
/* site wide styling, */
* {
  box-sizing: border-box;
}

body {
  background: #04070a;
  color: #e8ecee;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
}
